body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aliceblue;
    color: brown;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: blueviolet;
    margin: 3px 0;
    transition: 0.4s;
}

.navbar {
    display: flex;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: aqua;
    transition: 0.3s;
}

.menu a:hover {
    color: chartreuse;
}

.container__imagem{
    width: 10%;
    height: auto;
}

.logo.svg__imagem{
    width: 45px;
    height: auto;
}
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Ajuste conforme necessário */
        left: 0;
        background-color: brown;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .bar1-active {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .bar2-active {
        opacity: 0;
    }
    
    .bar3-active {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}